#eq8f6pzz6u43_to.active {
  animation: eq8f6pzz6u43_to__to 1500ms linear 1 normal forwards;
}
@keyframes eq8f6pzz6u43_to__to {
  0% {
    transform: translate(65.381px, 0.119px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  26.666667% {
    transform: translate(-80.146px, 20.119px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(65.327px, 0.119px);
  }
}
#eq8f6pzz6u44_to.active {
  animation: eq8f6pzz6u44_to__to 1500ms linear 1 normal forwards;
}
@keyframes eq8f6pzz6u44_to__to {
  0% {
    transform: translate(0px, 1px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  26.666667% {
    transform: translate(938.39056px, 107.37687px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(0px, 0.995px);
  }
}
#eq8f6pzz6u44_tr.active {
  animation: eq8f6pzz6u44_tr__tr 1500ms linear 1 normal forwards;
}
@keyframes eq8f6pzz6u44_tr__tr {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  26.666667% {
    transform: rotate(58deg);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: rotate(0deg);
  }
}
#eq8f6pzz6u45_to.active {
  animation: eq8f6pzz6u45_to__to 1500ms linear 1 normal forwards;
}
@keyframes eq8f6pzz6u45_to__to {
  0% {
    transform: translate(61.3px, 104.431px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  26.666667% {
    transform: translate(690.502871px, -489.169647px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(61.186px, 103.662px);
  }
}
#eq8f6pzz6u45_tr.active {
  animation: eq8f6pzz6u45_tr__tr 1500ms linear 1 normal forwards;
}
@keyframes eq8f6pzz6u45_tr__tr {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  26.666667% {
    transform: rotate(57.9deg);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: rotate(0deg);
  }
}
#eq8f6pzz6u46_to.active {
  animation: eq8f6pzz6u46_to__to 1500ms linear 1 normal forwards;
}
@keyframes eq8f6pzz6u46_to__to {
  0% {
    transform: translate(0px, 112.438px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  26.666667% {
    transform: translate(146.266px, 92.438px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(0px, 112.438px);
  }
}
