#eo29lu4h2ku1 {
  pointer-events: all;
}

#eo29lu4h2ku1:hover #eo29lu4h2ku3_to {
  animation: eo29lu4h2ku3_to__to 750ms linear 1 alternate forwards;
}

@keyframes eo29lu4h2ku3_to__to {
  0% {
    transform: translate(65.381px, 0.119px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  25% {
    transform: translate(-54.604628px, 41.537168px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(65.327px, 0.119px);
  }
}

#eo29lu4h2ku1:hover #eo29lu4h2ku4_to {
  animation: eo29lu4h2ku4_to__to 750ms linear 1 alternate forwards;
}

@keyframes eo29lu4h2ku4_to__to {
  0% {
    transform: translate(17.413358px, -23.391972px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  25% {
    transform: translate(668.956255px, -45.412378px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(17px, -23px);
  }
}
#eo29lu4h2ku1:hover #eo29lu4h2ku4_tr {
  animation: eo29lu4h2ku4_tr__tr 750ms linear 1 alternate forwards;
}
@keyframes eo29lu4h2ku4_tr__tr {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  25% {
    transform: rotate(58deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#eo29lu4h2ku1:hover#eo29lu4h2ku5_to {
  animation: eo29lu4h2ku5_to__to 750ms linear 1 alternate forwards;
}
@keyframes eo29lu4h2ku5_to__to {
  0% {
    transform: translate(61.3px, 104.431px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  25% {
    transform: translate(946.147089px, -355.759269px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(61px, 104px);
  }
}
#eo29lu4h2ku1:hover #eo29lu4h2ku5_tr {
  animation: eo29lu4h2ku5_tr__tr 750ms linear 1 alternate forwards;
}
@keyframes eo29lu4h2ku5_tr__tr {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  25% {
    transform: rotate(58deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#eo29lu4h2ku1:hover #eo29lu4h2ku6_to {
  animation: eo29lu4h2ku6_to__to 750ms linear 1 alternate forwards;
}
@keyframes eo29lu4h2ku6_to__to {
  0% {
    transform: translate(0px, 112.443814px);
    animation-timing-function: cubic-bezier(0.735, -0.55, 0.32, 1.55);
  }
  25% {
    transform: translate(155.153828px, 88.987329px);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  100% {
    transform: translate(0px, 95.9315px);
  }
}
